#message-container {
    background: #eaeaea;

    .inner-app {
        .messages-list {
            .message {
                border-bottom: 1px solid #1e1e1e;
                height: 65px;
                display: block;
                background: #ffffff;
                color: #1e1e1e;
    
                .text-avatar {
                    font-size: 20px;
                    float: left;
                    line-height: 35px;
                    margin-left: 10px;
                    margin-right: 10px;
                    margin-top: 5px;
                    height: 35px;
                    width: 35px;
                    border-radius: 70px;
                    text-align: center;
                    position: relative;
                    top: 15%;
                    -webkit-transform: translate(0%, 0%);
                    transform: translate(0%, 0%);
                    background: color("materialize-red", "darken-4");
                    color: #ffffff;
                }
    
                .text-name {
                    line-height: 30px;
                    width: 74%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
    
                .text-message {
                    line-height: 35px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 60.8%;
                }
    
                .text-time {
                    width: 24%;
                    text-align: right;
                    display: inline-block;
                    position: relative;
                    left: 74%;
                    top: -30px;
                }
    
                &:hover {
                    transition: all ease-in 0.15s;
                    background: #c4c4c4;
                }
            }
        }

        .btn-floating {
            position: absolute;
            bottom: 2%;
            right: 5%;
        }
    }
    
    #messages-new-modal {
        overflow: visible;
        .dropdown-content {
            max-height: 1000%;
        
            li {
                span {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}

#message-convo-container {
    background: #eaeaea;
    z-index: 5;

    .inner-app {
        .convo-top-bar {
            padding: 10px;
            font-size: 15px;
            color: #ffffff;
            font-weight: bold;
            background: color("materialize-red", "darken-4");

            i.back-button {
                float: left;
                line-height: 40px;
                padding-right: 15px;

                &:hover {
                    transition: all ease-in 0.15s;
                    filter: brightness(85%);
                }
            }

            .convo-top-number {
                width: 44%;
                font-size: 20px;
                line-height: 35px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                float: left;
            }

            .convo-top-actions {
                display: inline-block;
                width: 49%;
                line-height: 40px;
                text-align: right;

                i {
                    padding: 10px;

                    &:hover {
                        transition: all ease-in 0.15s;
                        filter: brightness(85%);
                    }
                }
            }
        }

        .convo-texts-list {
            height: 84%;
            overflow-y: auto;
            overflow-x: hidden;

            .text {
                width: fit-content;
                display: block;
                padding: 0 20px;
                color: #ffffff;

                &:first-child {
                    margin-top: 10px;
                }

                span {
                    width: fit-content;
                    display: inline-block;
                    padding: 10px 20px 10px 20px;
                    border-radius: 10px;
                    background: color("materialize-red", "darken-4");
                }

                p {
                    padding: 0;
                    margin: 0;
                    color: #1e1e1e;
                    font-size: 10px;
                    opacity: 0;
                }

                &:hover {
                    p {
                        transition: all ease-in 0.15s;
                        opacity: 100;
                    }
                }

                &.me-sender {
                    margin-left: auto;

                    span {
                        background: #1e1e1e;
                    }

                    p {
                        text-align: right;
                    }
                }

                &.other-sender {
                    margin-right: auto;

                    p {
                        text-align: left;
                    }
                }
            }
        }

        .convo-text-input {
            height: 5%;
            border-top: 1px solid #1e1e1e;

            #convo-new-text {
                -webkit-margin-after: 0;
                margin-block-end: 0;

                .input-field {
                    margin: 0;
                    display: inline-block;
                    width: 85%;

                    #convo-input {
                        padding: 10px;
                        margin: 0;
                        height: 65%; 
                    }

                    .character-counter {
                        float: right;
                        font-size: 12px;
                        height: 1px;
                        position: absolute;
                        bottom: 0%;
                        right: 1%;
                    }
                }

                i {
                    font-size: 25px;
                    position: absolute;
                    bottom: 1.25%;
                    right: 3%;
                    
                    &:hover {
                        transition: all ease-in 0.15s;
                        color: color("materialize-red", "darken-4");
                    }
                }
            }
        }
    }
}